.movies-card{
    width: 100%;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.movies-card__img{
    display: block;
    width: 100%;
    min-height: 151px;
}
.movies-card__info{
    display: flex;
    flex-direction: column;
    row-gap: 11px;
}
.movies-card__info-line{
    display: flex;
    justify-content: space-between;
}
.movies-card__text{
    max-width: 226px;
    width: 100%;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 3px 0 0;
}
.movies-card__btn{
    width: 24px;
    height: 24px;
    background-color: #313131;
    background-image: url(../../images/card-dislike.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 36px;
    border-style: none;
    cursor: pointer;
}
.movies-card__btn:hover{
    width: 24px;
    height: 24px;
    background-color: #313131;
    background-image: url(../../images/btn-delete-card-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 36px;
    border-style: none;
}
.movies-card__btn_active{
    background-image: url(../../images/card-like.svg);
    background-repeat: no-repeat;
}
.movies-card__time{
    width: 100%;
    border-top: solid 1px #424242;
    padding-top: 7px;
    box-sizing: border-box;
    margin: 0 0 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #8B8B8B;
}
@media (max-width: 1023px){
    .movies-card{
        height: 269px;
    }
    .movies-card__text{
        max-width: 295px;
    }
}
@media (max-width: 767px) {
    .movies-card__text{
        font-size: 12px;
        line-height: 15px;
    }
    .movies-card{
        height: 247px;
    }
    .movies-card__time{
        font-size: 10px;
        line-height: 12px;
    }

}