.menu{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0%, 0%, 0%, 0.3);
}
.menu__container{
    position: absolute;
    top: 0;
    right: 0;
    max-width: 520px;
    width: 100%;
    height: 100%;
    background: #202020;
}
.menu__exit-icon{
     background-image: url(../../images/btn-delete-card-icon.svg);
     width: 22px;
     height: 22px;
     background-repeat: no-repeat;
     background-size: cover;
     position: absolute;
     top: 22.4px;
     right: 22.4px;
     transition: all 0.5s ease;
 }
.menu__exit-icon:hover{
    cursor: pointer;
    opacity: .5;
}
.menu__nav{
    display: flex;
    padding: 159px 0 90px;
    box-sizing: border-box;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.menu__nav-list{
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    max-width: 340px;
    width: 100%;
    list-style: none;
    padding-left: 0;
    text-align: center;
}
.menu__nav-link{
    font-family: 'Inter', 'Arial', 'sans-serif';
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    transition: all 0.5s ease;
}
.menu__nav-link:hover{
    cursor: pointer;
    opacity: .5;
}
.menu__nav-link_active{
    padding-bottom: 4px;
    border-bottom: 2px solid #FFFFFF;
}
.menu__profile-block{
    width: 97px;
    height: 29px;
    border: 2px solid rgba(170, 170, 170, .2);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
    transition: all 0.5s ease;
}
.menu__profile-block:hover{
    cursor: pointer;
    opacity: .5;
}
.menu__profile-icon{
    background-image: url(../../images/profile-icon.svg);
    width: 12px;
    height: 14px;
}
.menu__profile-text{
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 0;
}
@media (max-width: 767px) {
    .menu__nav-list{
        row-gap: 24px;
    }
    .menu__nav-link_active {
        padding-bottom: 7px;
    }
}