.promo{
    background: #073042;
    display: flex;
    margin: auto;
    min-height: 524px;
    justify-content: center;
}
.promo__img{
    margin-top: 82px;
    background-image: url("../../images/promo.svg");
    position: absolute;
    width: 320px;
    height: 320px;
}
.promo__title{
    margin-top: 184px;
    max-width: 730px;
    width: 100%;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
@media (max-width: 1023px){
    .promo{
        min-height: 784px;
    }
    .promo__img{
        margin-top: 224px;
        width: 320px;
        height: 320px;
    }
    .promo__title{
        margin-top: 326px;
    }
}
@media (max-width: 767px){
    .promo{
        min-height: 570px;
    }
    .promo__img{
        margin-top: 142px;
        width: 248px;
        height: 248px;
        background-size: contain;
    }
    .promo__title{
        max-width: 300px;
        margin-top: 207px;
        font-size: 31px;
        line-height: 39px;
    }
}