.about-project{
    background: #202020;
}
.about-project__container{
    max-width: 1280px;
    width: 100%;
    margin: auto;
    padding: 110px 70px;
    box-sizing: border-box;
}
.about-project__title{
    width: 100%;
    padding-bottom: 23px;
    border-bottom: solid 1px #fff;
    margin: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.about-project__info-container{
    width: 100%;
    display: flex;
    column-gap: 40px;
    margin: 70px 0 110px;
}
.about-project__info{
    max-width: 550px;
    width: 100%;
}
.about-project__info-title{
    margin: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.about-project__text{
    margin: 26px 0 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}
.about-project__time{
    width: 100%;
    display: grid;
    grid-row-gap: 14px;
    grid-template-columns: minmax(auto, 228px) minmax(auto, 912px);
    justify-items: center;
}
.about-project__back-end{
    margin: 0;
    max-width: 228px;
    width: 100%;
    padding: 9px 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #3DDC84;
    color: #000000;
}
.about-project__front-end{
    margin: 0;
    max-width: 912px;
    width: 100%;
    padding: 9px 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #303030;
    color: #FFFFFF;
}
.about-project__subtitle{
    margin: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}
@media (max-width: 1023px){
    .about-project__container{
        padding: 90px 50px;
    }
    .about-project__info-container{
        column-gap: 30px;
        margin: 70px 0 93px;
    }
    .about-project__text{
        font-size: 12px;
        line-height: 18px;
        margin: 23px 0 0;
    }
    .about-project__time{
        grid-template-columns: minmax(auto, 140px) minmax(auto, auto);
    }
    .about-project__back-end{
        max-width: 140px;
    }
}
@media (max-width: 767px){
    .about-project__container{
        padding: 72px 18px;
    }
    .about-project__info-container{
        flex-direction: column;
        row-gap: 56px;
        margin: 60px 0 61px;
    }
    .about-project__title{
        padding-bottom: 28px;
        font-size: 18px;
        line-height: 22px;
        border-bottom: solid 1px #DADADA;
    }
    .about-project__info-title{
        font-size: 18px;
        line-height: 22px;
    }
    .about-project__text{
        margin: 16px 0 0;
        font-size: 11px;
        line-height: 16px;
    }
    .about-project__time{
        grid-template-columns: minmax(auto, 100px) minmax(auto, auto);
        grid-row-gap: 10px;
    }
    .about-project__back-end{
        padding: 11px 0;
        max-width: 100px;
        font-size: 11px;
        line-height: 13px;
    }
    .about-project__front-end{
        padding: 11px 0;
        font-size: 11px;
        line-height: 13px;
    }
    .about-project__subtitle{
        font-size: 11px;
        line-height: 13px;
    }
}