.about-me{
    background: #202020;
}
.about-me__container{
    max-width: 1280px;
    width: 100%;
    padding: 110px 70px calc(100px / 2) 70px;
    box-sizing: border-box;
    margin: auto;
}
.about-me__title{
    width: 100%;
    padding-bottom: 23px;
    border-bottom: solid 1px #fff;
    margin: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.about-me__biography{
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 270px;
    padding: 66px 0 0 0;
    box-sizing: border-box;
}
.about-me__name{
    max-width: 600px;
    width: 100%;
    margin: 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
}
.about-me__subtitle{
    max-width: 600px;
    width: 100%;
    margin: 18px 0 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.about-me__text{
    max-width: 600px;
    width: 100%;
    margin: 26px 0 0;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.about-me__subtext{
    text-decoration: none;
    margin-top: 99px;
    display: block;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.about-me__img{
    max-width: 270px;
    width: 100%;
    min-height: 327px;
    object-fit: contain;
}
@media (max-width: 1023px){
    .about-me__container{
        padding: 90px 50px calc(90px / 2) 50px;
    }
    .about-me__title{
        padding-bottom: 21px;
    }
    .about-me__name{
        max-width: 348px;
        width: 100%;
        font-size: 40px;
        line-height: 40px;
        margin-top: 15px;
    }
    .about-me__biography {
        padding: 51px 0 0 0;
        column-gap: 49px;
        align-items: flex-start;
    }
    .about-me__subtitle{
        margin: 16px 0 0;
        max-width: 348px;
        width: 100%;
        font-size: 12px;
        line-height: 18px;
    }
    .about-me__text{
        margin: 20px 0 0;
        max-width: 364px;
        width: 100%;
        font-size: 12px;
        line-height: 18px;
    }
    .about-me__subtext{
        margin-top: 87px;
    }
    .about-me__img{
        max-width: 255px;
        width: 100%;
        margin-top: 15px;
        min-height: 307px;
        object-fit: contain;
    }
}
@media (max-width: 767px){
    .about-me__container{
        padding: 72px 14px calc(71px / 2) 14px;
    }
    .about-me__title{
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 26px;
        border-bottom: solid 1px #DADADA;
    }
    .about-me__name{
        font-size: 30px;
        line-height: 36px;
        margin-top: 0;
    }
    .about-me__img{
        max-width: 292px;
        width: 100%;
        margin-top: 0;
        min-height: 352px;
        object-fit: contain;
    }
    .about-me__biography {
        padding: 60px 0 0 0;
        row-gap: 38px;
        justify-content: center;
        flex-wrap: wrap-reverse;
    }
    .about-me__subtitle{
        margin: 20px 0 0;
        font-size: 11px;
        line-height: 16px;
    }
    .about-me__text{
        font-size: 11px;
        line-height: 16px;
    }
    .about-me__subtext{
        margin-top: 41px;
    }
}